<ion-header>
  <ion-toolbar>
    <ion-title>Lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>{{nombreLugar}}</h1>
  <p text-wrap>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio repellat iusto odio corporis excepturi officiis, consectetur inventore dolore nostrum, earum cumque, vitae tempora mollitia cum aspernatur sed! Nostrum, consequuntur.</p>
</ion-content>

<ion-footer padding>
  <div align="center"> 
    <ion-button  color="dark" (click)="NavegarBack()">Regresar</ion-button>
    <ion-button  color="success" (click)="Navegar()">Siguiente</ion-button>
    
  </div>
</ion-footer>
