<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p text-center> The world is your oyster.</p>
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  <ion-button shape="round" (click)="Navegar('Primer lugar')">Lugar uno</ion-button>
  <br>
  <ion-button shape="round" (click)="Navegar('Segundo lugar')">Lugar dos</ion-button>

  <p text-capitalize>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio repellat iusto odio corporis excepturi officiis, consectetur inventore dolore nostrum, earum cumque, vitae tempora mollitia cum aspernatur sed! Nostrum, consequuntur.</p>
  <p text-wrap>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea distinctio repellat iusto odio corporis excepturi officiis, consectetur inventore dolore nostrum, earum cumque, vitae tempora mollitia cum aspernatur sed! Nostrum, consequuntur.</p>
  
</ion-content>
